---
import type { NestedTextList } from "./HistoryItem.type";
import NestedList from "./NestedList.astro";
import CareerSummary from "./CareerSummary.astro";

type Props = {
  name: string;
  start: string;
  end?: string;
  summary?: string;
  /** 初期状態でアコーディオン内容を表示するか */
  isOpen?: boolean;
  contents?: NestedTextList[];
};

const { name, start, end, summary, contents, isOpen = false } = Astro.props;

const hasContents = !!contents;
---

<li class="mb-3">
  {
    hasContents ? (
      <details
        open={isOpen}
        class="hover:bg-gray-100  [&[open]]:bg-gray-100 transition duration-300 rounded-[6px] p-4"
      >
        <summary class="appearance-none cursor-pointer">
          <CareerSummary
            name={name}
            start={start}
            end={end}
            summary={summary}
          />
        </summary>

        <div class="md:px-4 md:pb-4 pt-6">
          {contents.length
            ? contents.map((list) => (
                <div class="md:not-last-of-type:mb-8 not-last-of-type:mb-6">
                  <NestedList list={list} />
                </div>
              ))
            : null}
        </div>
      </details>
    ) : (
      <div class="p-4">
        <CareerSummary name={name} start={start} end={end} summary={summary} />
      </div>
    )
  }
</li>
