---
import ogs from "open-graph-scraper";
import { Image } from "astro:assets";
import fallbackImg from "@assets/ogp-fallback.png";

type Props = {
  url: string;
  class?: string;
};

let title = "";
let ogUrl = "";
let image = "";
let imageAlt = "";
let publishedDate = "";

const { url, class: overrideClass } = Astro.props;

try {
  const { result } = await ogs({ url });

  title = result.ogTitle ?? "";
  ogUrl = result.ogUrl ?? "";
  image = result.ogImage?.[0]?.url ?? "";
  imageAlt = result.ogImage?.[0]?.alt ?? "";

  const date = new Date(result.ogDate ?? new Date());
  publishedDate = `${date.getFullYear()}年${String(date.getMonth() + 1).padStart(2, "0")}月`;
} catch (error) {
  console.error(error);
}

const isNoContent = !title && !ogUrl;
---

{
  isNoContent ? null : (
    <a
      href={ogUrl}
      target="_blank"
      rel="noopener noreferrer"
      class:list={["flex flex-col w-full h-full", overrideClass]}
    >
      <div class="relative w-full aspect-[1.91/1] mb-4 transition-transform duration-300 ease-in-out group-hover:scale-105 bg-gray-100 dark:bg-gray-800 rounded-lg overflow-hidden">
        <Image
          src={image}
          alt={imageAlt}
          width={600}
          height={314}
          class="object-cover w-full h-full"
          onerror={`this.onerror=null; this.src='${fallbackImg.src}';`}
        />
      </div>
      <div class="text-center flex-1 flex flex-col justify-between">
        <h3 class="md:text-[13px] text-[12px] font-medium mb-2 line-clamp-2 md:leading-[1.6] leading-[1.5]">
          {title}
        </h3>
        <time
          datetime={publishedDate}
          class="text-[11px] text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-800 px-3 py-1 rounded-full inline-block"
        >
          {publishedDate}
        </time>
      </div>
    </a>
  )
}
