---
const SITE_NAME = "hidenorioka";
const SITE_URL = "https://https://hidenorioka.github.io/site";
const SITE_DESCRIPTION = "";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/site/favicon.svg" />
<link rel="sitemap" href="/site/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />
<title>{SITE_NAME}</title>
<meta name="description" content={SITE_DESCRIPTION} />
<link rel="canonical" href={SITE_URL} />
<meta property="og:title" content={SITE_NAME} />
<meta property="og:type" content="website" />
<meta property="og:url" content={SITE_URL} />
<meta property="og:site_name" content={SITE_NAME} />
<meta property="og:description" content={SITE_DESCRIPTION} />
