---
type Props = {
  title?: string;
};

const { title } = Astro.props;
const { pathname } = Astro.url;

const SITE_NAME = "hidenorioka";
const SITE_URL = "https://hidenorioka.com";
const SITE_DESCRIPTION = "";

const titleText = title ? `${title} - ${SITE_NAME}` : SITE_NAME;
const url = `${SITE_URL}${pathname}`;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />

<title>{titleText}</title>
<meta name="description" content={SITE_DESCRIPTION} />
<link rel="canonical" href={url} />

<meta property="og:title" content={titleText} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:site_name" content={SITE_NAME} />
<meta property="og:description" content={SITE_DESCRIPTION} />
